<!-- loader -->
<div id="landing-page">

    <div class="loader-wrap">
        <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
            <path id="svg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
        </svg>
        <div class="loader-wrap-heading">
            <span id="loading">
                <h1>Elite Events</h1>
            </span>
        </div>
    </div>
    <div class="container"></div>

    <!-- main page -->
    <div id="main">
        <div id="circle"></div>
        <div id="content">
            <div id="video-wrapper">
                <video src="/assets/Images/EventsVideo.mp4" autoplay loop muted playsinline></video>
            </div>
            <div id="text-overlay">
                <h1>CRAFTING</h1>
                <h1><span id="booknow" [routerLink]="['/login']" routerLinkActive="router-link-active">JOIN NOW</span>
                </h1>
                <h1 id="unforget">UNFORGETTABLE</h1>
                <h1 id="any">EXPERIENCES</h1>
            </div>
        </div>

        <!-- featured Projects -->
        <div id="page3">
            <div id="fixed-box"></div>
            <div class="index">
                <div class="dot"></div>
                <h3>FEATURED PROJECTS</h3>
            </div>
            <div id="projects-wrapper">
                <div class="elem" img-data='/assets/Images/CorporateEvents.jpg'>
                    <div class="overlay"></div>
                    <h2>Rhythm 2024</h2>
                    <div class="left-detail">
                        <h3>LTIMindtree<br><span class="left-detail2">Corporate Event</span></h3>
                    </div>
                </div>
                <div class="elem" img-data="/assets/Images/Concerts.jpg">
                    <div class="overlay"></div>
                    <h2>Goa SUNBURN</h2>
                    <div class="left-detail">
                        <h3>SUNBURN<br><span class="left-detail2">Concert</span></h3>
                    </div>
                </div>
                <div class="elem" img-data="/assets/Images/Weddings.jpg">
                    <div class="overlay"></div>
                    <h2>AMBANI'S Wedding Ceremony</h2>
                    <div class="left-detail">
                        <h3>AMBANI'S<br><span class="left-detail2">Wedding Party</span></h3>
                    </div>
                </div>
                <div class="elem" img-data="/assets/Images/Workshops.jpg">
                    <div class="overlay"></div>
                    <h2>Art Workshop</h2>
                    <div class="left-detail">
                        <h3>NACC<br><span class="left-detail2">Workshop</span></h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <!-- <footer>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Elite Events. All rights reserved.
        </div>
    </footer> -->

        <div id="quote">
            <h2 >“Great events don’t just happen; they are crafted with passion, precision, and a touch of magic.”

            </h2>
        </div>
    </div>
    <div class="d-flex justify-content-center" id="scroll-cards">
        <div class="card" style="width: 18rem; margin: 10px;">
            <div id="carouselExample1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/Images/Event1.jpg.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/Images/Event2.jpg.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/Images/Event3.jpg.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title">Create Event</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <!-- <a href="create-event" class="btn btn-primary">Create Event</a> -->
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 10px;">
            <div id="carouselExample2" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/Images/Resource1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/Images/Resource2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/Images/Resource3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title">Add Resources</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <!-- <a href="add-resource" class="btn btn-primary">Add Resource</a> -->
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 10px;">
            <div id="carouselExample3" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/Images/AllocateResource1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/Images/AllocateResource2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/Images/AllocateResource3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title">Allocate Resource</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <!-- <a href="resource-allocate" class="btn btn-primary">Allocate Resource</a> -->
            </div>
        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"
        integrity="sha512-7Au1ULjlT8PP1Ygs6mDZh9NuQD0A5prSrAUiPHMXpU6g3UMd8qesVnhug5X4RoDr35x5upNpx0A6Sisz1LSTXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</div>