html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.906), rgba(255, 255, 255, 0));
        // url('/assets/Images/loginImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-radial-gradient {
    height: 100%;
}

#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    // transform: perspective(1000px) rotateX(10deg) rotateY(10deg);
    transition: transform 0.3s ease-in-out;
}

// .bg-glass:hover {
//     transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
// }

.typing-effect {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    width: 0;
    animation: typing 3.5s steps(100, end) forwards, blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(239, 231, 231);
    }
}
