body {
    height: 100%;
    margin: -60px -20px 0 -20px;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgba(200, 191, 191, 0.258), rgba(81, 36, 121, 0.838) 50%, rgba(128, 112, 146, 0.258));
}
 
.validation-message {
    color: #e74c3c;
}

.text-center {
    color: white;
}
 
.container-fluid h1 {
    color: #ffffff;
    font-weight: bold;
}
 
.card {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
 
.bubble {
    position: fixed;
    border-radius: 50%;
    opacity: 0.3;
    animation: float 20s infinite ease-in-out;
}
 
@for $i from 1 through 10 {
    .bubble-#{$i} {
        width: random(150) + 50px;
        height: random(150) + 50px;
        background: radial-gradient(hsl(random(360), 70%, 50%),
            hsl(random(360), 70%, 30%));
        top: random(100) * 1vh;
        left: random(100) * 1vw;
        animation-delay: random(10) * -1s;
        animation-duration: 15s + random(10) * 1s;
    }
}
 
@keyframes float {
    0%, 100% {
        transform: translateY(0) translateX(0) rotate(0deg) scale(1);
    }
    25% {
        transform: translateY(-50px) translateX(25px) rotate(5deg) scale(1.1);
    }
    50% {
        transform: translateY(-100px) translateX(-25px) rotate(10deg) scale(1.2);
    }
    75% {
        transform: translateY(-50px) translateX(25px) rotate(5deg) scale(1.1);
    }
}
 
.btn-primary, .btn-secondary {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 20px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(16, 16, 16, 0.244);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
 
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        background-color: rgb(6, 66, 103);
        color: rgb(232, 247, 255);
    }
 
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        transform: none;
    }
}
 
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
 
    button {
        margin: 0 5px;
    }
 
    span {
        margin: 0 10px;
    }
}
 
.list-group-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
 
    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.alert-container {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 300px;
    z-index: 1050; /* Make sure the alerts appear above other content */
}
 
.alert {
    margin-bottom: 10px; /* Space between multiple alerts */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add some shadow for better visibility */
}
 
 